# 1. 파이썬 자료형
- type을 통해 데이터 체크 가능하다

In [5]:
a = 123
b = 'hello'
c = True

type(a), type(b), type(c)

(int, str, bool)

# 2. 문자열
- 작은따옴표 또는 큰따옴표로 문자열 만들 수 있다 (string에 포함 되어 있는 ' 또는 "에 따라 결정 할 수 있다)
- 이스케이프문자(\)를 사용하면 특수문자 입력 가능하다
- """ 또는 '''을 통해 여러 줄 문자열 입력 가능하다. (\n으로 표현보다 효과적이다))
- """\을 하면 첫 문장의 줄 바꿈이 일어나지 않는다. ("""만 쓰면 첫줄은 무조건 뛰어진다)

In [12]:
test_str1 = '"hello world"'
print(test_str1)

test_str1 = "\"hello world\""
print(test_str1)

"hello world"
"hello world"

# 3. 문자열 슬라이싱
- 문자열이나 리스트 등의 데이터를 인덱스를 이용하여 가져올 수 있다.
- 파이썬은 0부터 시작한다

In [16]:
str = "hello world"
print(str[0]) # 가장 앞에 있는 h를 출력한다.
print(str[-1]) # 뒤에서 부터 출력한다. (0은 +-하나 0이기 때문에 -1이 제일 뒤다)
print(str[3:5])

h
d
lo

'eo'

# 4. 숫자
- python에서는 int형과 float 형이 존재한다.
- 파이썬에서는 거의 구분이 필요 없지만, 문자열 선택 연산자 ([]) 등을 사용 할 때, 괄호 안에 넣는 숫자가 정수가 아니라 부동 소수점이면 오류가 발생할 수 있다

## 4.1 연산자 우선순위

In [29]:
print(3462 / 17)

203.64705882352942

# 5. 변수
- 파이썬은 자료형 선언하지 않아도 된다.
- 변수 선언
- 변수에 값 할당
- 변수 참조

In [31]:
input_str = input('입력하세요')

입력하세요test

In [32]:
input_str

'test'

In [43]:
data = "52.273"
type(data)

str

In [45]:
float(data)

52.273

In [48]:
abc = 'abc'
test_1 = "data {}".format(abc)

In [49]:
test_1

'data abc'

In [54]:
print(f"test {abc}")

test abc

# 5.1 format 
- print 등에서 동적 데이터 입력
"test {}.format(variable_name) or f"test {variable_name}" 등으로 사용 가능하다
- :d 정수형 :f 실수형, +015f # 15칸에 부호 추가하고 0으로 채우기, 15.1f 소숫점 한자리까지

# 6. List
- 가변형

# 7. Tuble
- immutable
- 추가, 변경 불가하나 다른 튜플과 + *같은 것은 가능
- 데이터 변경 불가

# 8. Dictionary
- json과 유사
- key : value로 구성
- dictionary에서는 데이터를 얻기 위해서는 key로만 접근해야 한다. (리스트나 튜플은 인덱스 가능)

# 9. Set
- 집합 연산 할 때 좋음
- 중복 불허용 / 순서 없다

|유형|변경|순서|중복|
|---|---|---|---|
|리스트|뮤터블|있음|가능|
|튜플|이뮤터블|있음|가능|
|딕셔너리|뮤터블|없음|키중복 불가|
|셋|뮤터블|<span style="color:red">없음</span>|불가|

In [61]:
a = [1,2,['a','b',['Life','is']]]

In [62]:
a[-1][-1][0]

'Life'

In [63]:
a = [1,2,3,4,5]

In [64]:
b = [4,5]
c = a + b

In [65]:
c

[1, 2, 3, 4, 5, 4, 5]

In [66]:
t1 = (1,2,'a','b')

In [67]:
t1 = t1+ t1

In [68]:
t1

(1, 2, 'a', 'b', 1, 2, 'a', 'b')

In [49]:
dict_d = {1 : 'test', 2 : 'test2', '33e' : 't3'}

In [70]:
tup = (1,1, 2,3,4,5,6)

In [71]:
tup

(1, 1, 2, 3, 4, 5, 6)

In [88]:
set_d = {1,1, 2,3,4,5}

In [89]:
c = set_d

In [78]:
id(set_d)

140572970582576

In [80]:
id(c)

140572970582576

In [83]:
s = 'abc'

In [91]:
set_d is c

True

In [92]:
d = [80,75,55]

In [97]:
import numpy as np

In [98]:
np.average(d)

70.0

In [99]:
a = "a:b:c:d"

In [100]:
a.replace(':', '#')

'a#b#c#d'

In [101]:
a = (1,2,3)

In [108]:
a += (4,)

In [109]:
a

(1, 2, 3, 4)

In [122]:
import copy
a = [1,2,3]
b = copy.deepcopy(a)
a[1] = 4
print(b)

[1, 2, 3]

In [123]:
a is b

False