In [1]:
import cx_Oracle

In [2]:
dsn_tns = cx_Oracle.makedsn('127.0.0.1', '1521', service_name='orcl')
conn = cx_Oracle.connect(user='id', password= 'pass', dsn=dsn_tns)
c = conn.cursor()

c.execute('select * from OM_ORDER_HEADER')
print(c)

DatabaseError: ORA-01017: invalid username/password; logon denied

In [3]:
dsn_tns = cx_Oracle.makedsn('10.217.231.114', '1524', service_name='TE2SMF2')
conn = cx_Oracle.connect(user='id', password= 'pass', dsn=dsn_tns)
c = conn.cursor()

c.execute('select * from OM_ORDER_HEADER')
print(c)

DatabaseError: ORA-12170: TNS: 접속 시간 초과가 발생함