# Oracle DB

In [37]:
import cx_Oracle
import pandas as pd

## Connect

In [38]:
db_user = 'DAECHUL'
db_password = 'sysdba'
db_address = '127.0.0.1'
db_port = '1521'
db_sid = 'orcl'

con = cx_Oracle.connect('{user}/{password}@{address}:{port}/{sid}'
                         .format(user = db_user,password =db_password, address = db_address, port = db_port, sid = db_sid))
cur = con.cursor()

## Query

In [39]:
# conn = cx_Oracle.connect('DAECHUL/sysdba@localhost:1521/orcl')

# db.execute('select * from all_tables where rownum < 10')
sql = 'select * from test'
cdfs = pd.read_sql_query(sql, con=con, chunksize = 10)

for i in cdfs:
    print(i)

  COL1 COL2 COL3
0    a    b    c
1    S    K    S
2    S    K    S

## Insert

In [35]:
import cx_Oracle
import pandas as pd

db_user = 'DAECHUL'
db_password = 'sysdba'
db_address = '127.0.0.1'
db_port = '1521'
db_sid = 'orcl'

con = cx_Oracle.connect('{user}/{password}@{address}:{port}/{sid}'
                         .format(user = db_user,password =db_password, address = db_address, port = db_port, sid = db_sid))
cur = con.cursor()

rows = list()
row = tuple()
row = ('S','K','S')
rows.append(row)

# print(rows)
cur.executemany("insert into test(COL1, COL2, COL3) values (:1, :2, :3)", rows)
con.commit()

cur2 = con.cursor()
cur2.execute('select * from test')
res = cur2.fetchall()
print(res)
cur.close()
cur2.close()
con.close()

[('a', 'b', 'c'), ('S', 'K', 'S'), ('S', 'K', 'S')]

## Close

In [36]:
db.close()
conn.close()

NameError: name 'db' is not defined