## Basic Information Get

In [1]:
import cx_Oracle
import pandas as pd
import win32com.client
import threading

In [2]:
def connectDatabase(user, password, address, port, sid):
    db_user = user
    db_password = password
    db_address = address
    db_port = port
    db_sid = sid

    # conn = cx_Oracle.connect('DAECHUL/sysdba@localhost:1521/orcl')
    conn = cx_Oracle.connect('{user}/{password}@{address}:{port}/{sid}'
                             .format(user = db_user,password =db_password, address = db_address, port = db_port, sid = db_sid))
    
    return conn

In [3]:
def getStockList(conn):
    con = conn
    cur = con.cursor()
    cur.execute('select * from stock_list')
    result = cur.fetchall()
    cur.close()
    return result

In [6]:
conn = connectDatabase('DAECHUL','sysdba','127.0.0.1','1521', 'orcl')
stock_df = pd.DataFrame(getStockList(conn))
print(stock_df)
conn.close()

            0           1       2
0     A055490        테이팩스   KOSPI
1     A055550        신한지주   KOSPI
2     A057050       현대홈쇼핑   KOSPI
3     A058430       포스코강판   KOSPI
4     A058650       세아홀딩스   KOSPI
5     A058730         다스코   KOSPI
6     A058850        KTcs   KOSPI
7     A058860        KTis   KOSPI
8     A060980       한라홀딩스   KOSPI
9     A063160      종근당바이오   KOSPI
10    A064350        현대로템   KOSPI
11    A064960      S&T모티브   KOSPI
12    A066570        LG전자   KOSPI
13    A066575       LG전자우   KOSPI
14    A067830     세이브존I&C   KOSPI
15    A068270        셀트리온   KOSPI
16    A068290       삼성출판사   KOSPI
17    A068400       AJ렌터카   KOSPI
18    A069260         휴켐스   KOSPI
19    A069460       대호에이엘   KOSPI
20    A069500   KODEX 200   KOSPI
21    A069620        대웅제약   KOSPI
22    A069640       한세엠케이   KOSPI
23    A069660   KOSEF 200   KOSPI
24    A069730       DSR제강   KOSPI
25    A069960       현대백화점   KOSPI
26    A070960       용평리조트   KOSPI
27    A071050      한국금융지주   KOSPI
28    A071055     한국금융지주우   KOSPI
29    A071090        하이스틸   KOSPI
...       ...         ...     ...
2876  A319660       피에스케이  KOSDAQ
2877  A320000   하나금융13호스팩  KOSDAQ
2878  A321260      유진스팩4호  KOSDAQ
2879  A322780    DB금융스팩7호  KOSDAQ
2880  A323210  이베스트이안스팩1호  KOSDAQ
2881  A323230     신한제5호스팩  KOSDAQ
2882  A323280      신영스팩5호  KOSDAQ
2883  A323940   케이비제18호스팩  KOSDAQ
2884  A328380  미래에셋대우스팩3호  KOSDAQ
2885  A329560  상상인이안제2호스팩  KOSDAQ
2886  A900040     차이나그레이트  KOSDAQ
2887  A900070      글로벌에스엠  KOSDAQ
2888  A900080    에스앤씨엔진그룹  KOSDAQ
2889  A900100       뉴프라이드  KOSDAQ
2890  A900110   이스트아시아홀딩스  KOSDAQ
2891  A900120      씨케이에이치  KOSDAQ
2892  A900250     크리스탈신소재  KOSDAQ
2893  A900260         로스웰  KOSDAQ
2894  A900270        헝셩그룹  KOSDAQ
2895  A900280       골든센츄리  KOSDAQ
2896  A900290         GRT  KOSDAQ
2897  A900300    오가닉티코스메틱  KOSDAQ
2898  A900310        컬러레이  KOSDAQ
2899  A900340        윙입푸드  KOSDAQ
2900  A950110  SBI핀테크솔루션즈  KOSDAQ
2901  A950130      엑세스바이오  KOSDAQ
2902  A950140       잉글우드랩  KOSDAQ
2903  A950160      코오롱티슈진  KOSDAQ
2904  A950170         JTC  KOSDAQ
2905  A950180         SNK  KOSDAQ

[2906 rows x 3 columns]