## Scikit-Learn

In [61]:
import pandas as pd
from sklearn import svm, metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import os

In [36]:
iris_df = pd.read_csv('iris.data', header=None)
iris_df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [37]:
iris_df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [38]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [39]:
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [151]:
x_data = iris_df[['sepal_length','sepal_width','petal_length', 'petal_width']]
y_data = iris_df[['species']]

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data)

In [152]:
model = LogisticRegression()
model.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [153]:
result = model.predict(x_test)
accracy = metrics.accuracy_score(y_test, result)
accracy

0.9736842105263158

In [158]:
model.fit([[0,0],[1,1],[2,2]],[0,1,2])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [159]:
print(model.coef_)

[0.5 0.5]

In [160]:
print(model.intercept_)

2.220446049250313e-16

In [161]:
model.predict([[15,15],[100,100]])

array([ 15., 100.])

In [162]:
os.listdir('c:/NeoPython/Workspace/ai_workspace/study/csv')

In [164]:
df = pd.read_csv('c:/NeoPython/Workspace/ai_workspace/study/csv/add.csv')

In [170]:
df_data = df.iloc[:, 0:2]
df_target = df.iloc[:,2:]

In [172]:
x_train, x_test, y_train, y_test = train_test_split(df_data, df_target)

In [173]:
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [175]:
# print(model.coef_)
print(model.intercept_)

[-3.41060513e-13]

In [186]:
result = model.predict(x_test)

In [188]:
model.score(x_test, y_test)

1.0

In [1]:
model.predict([[1000,100000]])

NameError: name 'model' is not defined

In [ ]:
*