# 2. DataType

## 2.2 String Type

In [1]:
## Change Pithon to Python
test1 = 'Pithon'
test2 = test1.replace("i", "y")
test2

'Python'

In [2]:
## String value is immutable value. so cannot change using below method
# find_i = test1.find('i')
# test1[1] = 'y'

#### 2.2.1 Formatting

In [3]:
format_number = "My favorite number is %d!"%7
format_number

'My favorite number is 7!'

In [4]:
format_str = "My favorite number is %s!"%'Seven'
format_str

'My favorite number is Seven!'

In [5]:
input_var = 'Seven'
format_var = "My favorite number is %s!"%input_var
format_var

'My favorite number is Seven!'

In [6]:
format_invincible = "My favorite number is %s!"%7
format_invincible

'My favorite number is 7!'

In [7]:
advanced_format_var1 = "My best number is {} !!!".format(7)
advanced_format_var2 = "My best number is {0} !!! because it is {1} {str}".format(7, 'Seven', str = "ㅋㅋㅋ")

advanced_format_var2

'My best number is 7 !!! because it is Seven ㅋㅋㅋ'

#### 2.2.2 String functions

In [8]:
sample_str = 'abababababababcxsscsc  '

In [9]:
sample_str.count('c')
## the difference between find and index is that index return error when the value is not exist in str
find_var = sample_str.find('b')
sample_str.index('c')
upper_var = sample_str_upper = sample_str.upper()
lower_var = sample_str_lower = upper_var.lower()
strip_var = sample_str.rstrip()
replace_var = sample_str.replace("c", "ss")
split_var = sample_str.split("b")
len(sample_str)

23

#### 2.2.3 range

In [10]:
"{0:>10}".format("hi")
"{0:<10}".format("hi")
"{0:^10}".format("hi")

'    hi    '

In [11]:
## Fill with somethign into null area
"{0:s<10}".format("hi")

'hissssssss'

## 2.3 List
1. delcare with [ ]
2. Mutable
3. function with del, append, insert, sort, remove, pop, count, extend

In [12]:
lc = [1,2,7,['a','s','y']]
l1 = [1,2,3,6,7]
l2 = ['a','b','c','s','e']
lc

[1, 2, 7, ['a', 's', 'y']]

In [13]:
lc[0] = 77
lc

[77, 2, 7, ['a', 's', 'y']]

In [14]:
# lc[0] = []
del lc[3]
lc.append(777)
lc.sort()
lc.reverse()
lc

[777, 77, 7, 2]

In [15]:
lc.insert(3,10)
lc

[777, 77, 7, 10, 2]

In [16]:
lc.remove(10)
lc

[777, 77, 7, 2]

In [17]:
print(lc.pop())
lc

2

[777, 77, 7]

In [18]:
lc.count(7)

1

In [19]:
lc.extend(l1)
lc

[777, 77, 7, 1, 2, 3, 6, 7]

## 2.4 Tuple
1. delcare with (  )
2. Immutable

** almost same with list! but it cannot add, delete or change the value
** can add ex. a = (1,2,3) -> a = a + (4,5)

In [24]:
t1 = (1,2,3)
t2 = 4,5,6

## 2.5 Dictionary
1. delcare with {key1:value1,key2:value2} 
2. Mutable
3. function with keys(), values(), items()

** key가 중심

In [25]:
stock_se = {1:777, 2:'test','cur':50000, 'start_value':50000, 'day_higest_lowest':[70000,40000]}

In [26]:
stock_se[3] = 'py'

In [23]:
stock_se['test'] = 'test'

In [24]:
del stock_se['start_value']
stock_se

{1: 777,
 2: 'test',
 'cur': 50000,
 'day_higest_lowest': [70000, 40000],
 3: 'py',
 'test': 'test'}

In [25]:
stock_se[1] = 7
stock_se

{1: 7,
 2: 'test',
 'cur': 50000,
 'day_higest_lowest': [70000, 40000],
 3: 'py',
 'test': 'test'}

In [26]:
stock_se.keys()
stock_se.values()
stock_se.items()

dict_items([(1, 7), (2, 'test'), ('cur', 50000), ('day_higest_lowest', [70000, 40000]), (3, 'py'), ('test', 'test')])

In [27]:
# stock_se.get('cur')
# stock_se.get('cur1', 'default')
stock_se['cur']

50000

In [82]:
'cur1' in stock_se

False

In [89]:
mapping = dict(zip(range(50), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

## 2.5 Set
1. delcare with set()
2. Unordered, no duplication
3. function with keys(), values(), items()

** 집합 연산시 주로 사용

In [29]:
s = set("Hello")
s1 = set(['a','b','c'])

In [30]:
s1_list = list(s1)
s1_tuple = tuple(s1)

In [31]:
s1_tuple

('a', 'c', 'b')

In [32]:
n1 = set([1,2,3,4,5,6,7])
n2 = set([5,6,7,8,9,10,11])

In [33]:
## 교집합
n1 & n2
n1.intersection(n2)

{5, 6, 7}

In [34]:
## 합집합
n1 | n2
n1.union(n2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [35]:
## 차집합
n1 - n2
n1.difference(n2)

{1, 2, 3, 4}

In [36]:
n1.add(77)
n1

{1, 2, 3, 4, 5, 6, 7, 77}

In [37]:
n1.update([777,7777,77777])
n1

{1, 2, 3, 4, 5, 6, 7, 77, 777, 7777, 77777}

In [38]:
n1.remove(1)
n1

{2, 3, 4, 5, 6, 7, 77, 777, 7777, 77777}

## 2.7 Data Type's true and false

In [39]:
a = [1,2,3,4,5,6,7]

In [45]:
## list, tuple, dic는 아무것도 없을 때 거짓 그 외 참, 숫자는 0 거짓 그 외 참, 문자는 null 거짓 그 외 참
while a:
    a.pop()
    print(a)

In [50]:
## 메모리 참조, python은 모든 것이 객체, 7이라는 객체를 참조
s = 7
y = 7

In [51]:
import sys

## 7참조 숫자
sys.getrefcount(7)

160

In [52]:
z = 7
sys.getrefcount(7)

162

In [53]:
del(z)
sys.getrefcount(7)

160

In [55]:
## 복사
l_a = [1,2,3]
l_b = l_a
l_a[0] = 7
l_b

[7, 2, 3]

In [68]:
from copy import copy
l_a = [1,2,3]
l_b = copy(l_a)  ## or using l_b = l_a[:]
l_c = l_a
l_d = copy(l_a)
l_a[0] = 7
l_b

[1, 2, 3]

In [69]:
l_a is l_d

False

In [72]:
pin = "831126-1024724"

yymmdd = pin[0:6]
num = pin[7:]

In [80]:
sexn = pin.index('-')
pin[sexn +1]

'1'

In [91]:
list_test = ['Life','Is','Too','Short']

In [95]:
result = " ".join(list_test)
result

'Life Is Too Short'

In [121]:
a = (1,2,3)
a = a + (4,)
a

(1, 2, 3, 4)

In [122]:
a

(1, 2, 3, 4)

In [123]:
d = {'A':90,'B':80,'C':70}

In [124]:
result = d.pop('B')

In [125]:
result

80

{'A': 90, 'C': 70}

In [129]:
a = [1,1,1,2,2,2,3,3,3,4,4,4,5]
aSet = set(a)
aSet

{1, 2, 3, 4, 5}

In [130]:
a = b = [1,2,3]

In [131]:
a[1] = 4
print(b)

[1, 4, 3]